/* Global config CSS file: for global variables and configuration-related items. */

:root {
  --bg_color-g: #fafafa;
  --text_color-g: #181818;
  --accent_color-g: #db7093;
  --font_family-g: var(--font-jakarta-sans), sans-serif;
}
