/* Global CSS file: for custom styles and to reset default styles. */

html,
body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg_color-g);
  color: var(--fg_color-g);
  font-family: var(--font_family-g);
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    @apply size-[9px] rounded-full border-x-2 border-y-3 border-(--bg_color-g) bg-neutral-300;
  }

  ::-webkit-scrollbar-track {
    @apply my-0.5;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-[3px] border-x-2 border-(--bg_color-g) bg-neutral-500 bg-clip-content;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-800;
  }

  html.dark {
    ::-webkit-scrollbar {
      @apply bg-neutral-700;
    }

    ::-webkit-scrollbar-thumb {
      @apply bg-neutral-400;
    }

    ::-webkit-scrollbar-thumb:hover {
      @apply bg-neutral-100;
    }
  }
}
