/* Global CSS file: for custom styles and to reset default styles. */

html,
body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg_color-g);
  color: var(--text_color-g);
  font-family: var(--font_family-g);
}
